.AwesomeSearch {
  width: 960px;
  margin: 0px auto;
  padding: 10px;
  background-color: white;
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.ReadmeCategory {
  position: absolute;
  right: 0;
  top: 60px;
  height: 600px;
  width: 200px;
  overflow: scroll;
  background-color: white;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  z-index: 50;
  padding: 5px;
}

.BurgerButton {
  font-size: 20px;
  display: block;
  float: right;
  cursor: pointer;
  margin: 5px;
}

@media (max-width: 768px) {
  .AwesomeSearch {
    width: 100%;
  }

  .TocButton {
    display: none;
  }

  .StarButton {
    display: none;
  }
}

@media (min-width: 768px) {
  .BurgerButton {
    display: none;
  }
}
