.AwesomeSearch {
  width: 960px;
  margin: 0px auto;
  padding: 10px;
  background-color: white;
  position: relative;
}

.ReadmeCategory {
  position: fixed;
  right: 0;
  top: 60px;
  height: 600px;
  width: 200px;
  overflow: scroll;
  background-color: white;
  box-shadow: 0 2px 3px #ccc;
  z-index: 50;
  padding: 5px;
}

@media (max-width: 900px) {
  .AwesomeSearch {
    width: 100%;
  }
}
