.AwesomeReadme {
  position: relative;
  padding-left: 20px;
  overflow: scroll;
  max-width: 768px;
  height: 800px;
}

.ReadmeInfo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 770px) {
  .ReadmeInfo {
    flex-direction: column;
  }
}
