.AwesomeReadme {
  position: relative;
  overflow: scroll;
  max-width: 768px;
  height: 800px;
}

.ReadmeInfo {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .AwesomeReadme {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .ReadmeInfo {
    flex-direction: column;
  }
}
